span.mini-container
  border-radius: 4px
  padding: 0 4px 0 6px
  margin-right: 8px
  font-size: 9pt
span.mini-name
  font-family: 'Arial Narrow'
  font-size: 9pt
span.mini-btn-sup
  font-size: 15pt
  margin-left: 4px
  cursor: pointer

div.row
  margin-top: 7px
  & > label
    display: inline-block
    width: 66px
    font-family: "Arial Narrow"
    color: #555
  & > input[type="text"]
    &:not(.short)
      width: calc(100% - 80px)
    &.short
      width: 80px
