span.label
  padding: 1px 5px
  border-radius: 8px
  margin-left: 6px
  span.label-name
    font-family: 'Arial Narrow'
    font-size: 10pt
  span.label-btn-sup
    font-size: 15pt
    margin-left: 4px
    cursor: pointer
