div#taches
  max-width: 1000px
div.tache
  border: 1px solid #CCCCCC
  &:hover
    background-color: #CCDDFF
  span.tache-labels
    float: right
    margin-right: 1em
  span.tache-content
    font-family: 'Avenir Next Condensed'
    font-size: 14pt
  input[type="checkbox"].cb-done
    margin-right: 1em
  span.buttons
    float: right
    button
      font-size: 7pt
      vertical-align: super
