form#tache-form
  border: 1px solid #CCC
  background-color: white
  border-radius: 0.5em
  padding: 1em
  width: 580px
  position: fixed
  right: 0
  z-index: 1000
  &.opened
    bottom: 0
    transition: .5s
  &:not(.opened)
    bottom: -258px
    transition: .5s
  span#tache-labels
    position: relative
    display: inline-block
    min-width: 200px
    .smartlist
      left: 0
      top: -90px
  button#form-btn-add-label
    cursor: pointer
  div#handler
    position: absolute
    text-align: right
    top: 0
    left: 0
    border-radius: 0.5em 0.5em 0 0
    background-color: #CCC
    height: 20px
    width: 100%
    span#btn-new-tache
      margin-right: 1em
      cursor: pointer
  div.row
    margin-top: 7px
    & > label
      display: inline-block
      width: 66px
      font-family: "Arial Narrow"
      color: #555
    & > input[type="text"]
      &:not(.short)
        width: calc(580px - 80px)
      &.short
        width: 80px

button#form-btn-add-label
  all: unset
  font-size: 1.2em
