form#tache-form
  border: 1px solid #CCC
  background-color: white
  border-radius: 0.5em
  padding: 1em
  width: 580px
  position: fixed
  bottom: 0
  right: 0
  z-index: 1000
  div.row
    margin-top: 7px
    & > label
      display: inline-block
      width: 66px
      font-family: "Arial Narrow"
      color: #555
    & > input[type="text"]
      &:not(.short)
        width: calc(580px - 80px)
      &.short
        width: 80px
